$mobile: 480px;
$tablet: 1280px;
$desktop: 1920px;

@mixin responsive($viewWidth)  {
    @if $viewWidth == desktop {
        @media screen and (max-width: calc($desktop + 1px)) {
            @content;
        }
    }
    @else if $viewWidth == tablet {
        @media screen and (max-width: calc($tablet + 1px)) {
            @content;
        }
    }
    @else if $viewWidth == mobile {
        @media screen and (max-width: calc($mobile + 1px)) {
            @content;
        }
    }
}


